.container {
  position: relative;
  border  : 1px dotted #9e9e9e;

  &::before {
    content       : '';
    position      : absolute;
    width         : 100%;
    height        : 100%;
    top           : 0;
    left          : 0;
    z-index       : 1;
    pointer-events: none;
  }
}

.block {
  @extend .container;
  display: block;
  z-index: 1;
}

.inline {
  @extend .container;
  display: inline-block;
  z-index: 2;
}
