.container {
  position: relative;
  width   : 100%;
  height  : 100%;
}

.header {
  padding-bottom: 10px;
  border        : 1px solid rgb(74, 75, 70);
  border-left   : none;
  border-right  : none;
}

.listitem {
  cursor: pointer;
  margin: 8px 0;
}
